-- =====================================================
-- Script de Base de Datos: proyecto_integrador
-- Sistema de Predicción de Enfermedades Virales (ProeVira)
-- Generado: 2025-12-10
-- =====================================================

DROP DATABASE IF EXISTS proyecto_integrador;
CREATE DATABASE proyecto_integrador CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE proyecto_integrador;

-- =====================================================
-- Tabla: usuario
-- Almacena los usuarios del sistema
-- =====================================================
CREATE TABLE IF NOT EXISTS `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contrasena` varchar(100) DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activo',
  `fecha_registro` date DEFAULT NULL,
  `rol` varchar(50) DEFAULT 'usuario',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: region
-- Divisiones geográficas (32 Estados de México)
-- =====================================================
CREATE TABLE IF NOT EXISTS `region` (
  `id_region` int NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `codigo_entidad_inegi` int DEFAULT NULL,
  `codigo_postal` varchar(20) DEFAULT NULL,
  `poblacion` int DEFAULT '0',
  PRIMARY KEY (`id_region`),
  UNIQUE KEY `uq_nombre_region` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: enfermedad
-- Catálogo de enfermedades monitoreadas
-- =====================================================
CREATE TABLE IF NOT EXISTS `enfermedad` (
  `id_enfermedad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `estado` varchar(20) DEFAULT 'activo',
  `nivel_riesgo` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_enfermedad`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: dato_epidemiologico
-- Datos reales de casos y defunciones por semana
-- =====================================================
CREATE TABLE IF NOT EXISTS `dato_epidemiologico` (
  `id_dato` int NOT NULL AUTO_INCREMENT,
  `id_enfermedad` int NOT NULL,
  `id_region` int NOT NULL,
  `fecha_fin_semana` date NOT NULL,
  `casos_confirmados` int NOT NULL DEFAULT '0',
  `defunciones` int DEFAULT '0',
  `tasa_incidencia` decimal(10,4) NOT NULL DEFAULT '0.0000',
  `riesgo_brote_target` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_carga` date DEFAULT NULL,
  `id_usuario_carga` int DEFAULT NULL,
  PRIMARY KEY (`id_dato`),
  UNIQUE KEY `uq_dato_fecha_region` (`id_region`,`fecha_fin_semana`),
  KEY `fk_dato_enfermedad` (`id_enfermedad`),
  KEY `fk_dato_usuario` (`id_usuario_carga`),
  CONSTRAINT `fk_dato_enfermedad` FOREIGN KEY (`id_enfermedad`) REFERENCES `enfermedad` (`id_enfermedad`),
  CONSTRAINT `fk_dato_region` FOREIGN KEY (`id_region`) REFERENCES `region` (`id_region`),
  CONSTRAINT `fk_dato_usuario` FOREIGN KEY (`id_usuario_carga`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: modelo_predictivo
-- Algoritmos de predicción disponibles
-- =====================================================
CREATE TABLE IF NOT EXISTS `modelo_predictivo` (
  `id_modelo` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `tipo` varchar(50) DEFAULT NULL,
  `parametros` text,
  `estado` varchar(20) DEFAULT 'activo',
  `precission` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id_modelo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: prediccion
-- Resultados de las predicciones generadas
-- =====================================================
CREATE TABLE IF NOT EXISTS `prediccion` (
  `id_prediccion` int NOT NULL AUTO_INCREMENT,
  `id_modelo` int DEFAULT NULL,
  `id_enfermedad` int DEFAULT NULL,
  `id_region` int DEFAULT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `casos_predichos` int DEFAULT NULL,
  `fecha_prediccion` date DEFAULT NULL,
  `fecha_generacion` date DEFAULT NULL,
  PRIMARY KEY (`id_prediccion`),
  KEY `id_modelo` (`id_modelo`),
  KEY `id_enfermedad` (`id_enfermedad`),
  KEY `id_region` (`id_region`),
  CONSTRAINT `prediccion_ibfk_1` FOREIGN KEY (`id_modelo`) REFERENCES `modelo_predictivo` (`id_modelo`),
  CONSTRAINT `prediccion_ibfk_2` FOREIGN KEY (`id_enfermedad`) REFERENCES `enfermedad` (`id_enfermedad`),
  CONSTRAINT `prediccion_ibfk_3` FOREIGN KEY (`id_region`) REFERENCES `region` (`id_region`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: alerta
-- Sistema de notificaciones y alertas
-- =====================================================
CREATE TABLE IF NOT EXISTS `alerta` (
  `id_alerta` int NOT NULL AUTO_INCREMENT,
  `id_region` int NOT NULL,
  `id_enfermedad` int NOT NULL,
  `mensaje` text,
  `fecha_alerta` date DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activa',
  `nivel` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_alerta`),
  KEY `alerta_ibfk_1` (`id_region`),
  KEY `alerta_ibfk_2` (`id_enfermedad`),
  CONSTRAINT `alerta_ibfk_1` FOREIGN KEY (`id_region`) REFERENCES `region` (`id_region`),
  CONSTRAINT `alerta_ibfk_2` FOREIGN KEY (`id_enfermedad`) REFERENCES `enfermedad` (`id_enfermedad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Tabla: bitacora
-- Registro de actividades del sistema
-- =====================================================
CREATE TABLE IF NOT EXISTS `bitacora` (
  `id_bitacora` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int DEFAULT NULL,
  `fecha_hora` datetime DEFAULT NULL,
  `accion` text,
  PRIMARY KEY (`id_bitacora`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `bitacora_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- =====================================================
-- Datos: Usuario administrador por defecto
-- =====================================================
INSERT INTO usuario (id_usuario, nombre, email, contrasena, estado, fecha_registro, rol) VALUES
  (1, 'Administrador', 'admin@proevira.com', 'admin123', 'activo', CURDATE(), 'admin');

-- =====================================================
-- Datos: Regiones (32 Estados de México)
-- =====================================================

-- =====================================================
-- Datos: Enfermedades
-- =====================================================
INSERT INTO enfermedad (id_enfermedad, nombre, descripcion, estado) VALUES
  (1, 'Dengue', 'Enfermedad viral transmitida por mosquito Aedes aegypti', 'activo');

-- =====================================================
-- Datos: Modelo predictivo por defecto
-- =====================================================
INSERT INTO modelo_predictivo (id_modelo, nombre, tipo, parametros, estado, precission) VALUES
  (1, 'Random Forest Dengue', 'clasificacion', '{"n_estimators": 100, "max_depth": 10}', 'activo', 85.00);

-- =====================================================
-- FIN DEL SCRIPT
-- =====================================================
